.background {
  height: 900px;
  background-image: url("images/dbbackground.jpg");
}
.carousel-image {
  height: 600px;
  object-fit: cover;
}
.header {
  font-size: 45px;
  margin-bottom: 40px;
}
.dates {
  font-size: 20px;
}

.festival, .city {
  line-height: 30px;
}

.festivalRow {
  margin-bottom: 30px;
}
